* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@media (max-width: 992px) {
    #aboutme img {
        width: 50% !important; /* Set image width to 80px */
        height: 50% !important; /* Set image height to 80px */
        object-fit: cover; /* Ensure image fits properly */
    }
}

