* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    .row {
        .card {
            position: relative;
        
            img {
                transition: transform 0.3s ease-in-out;
                display: block;
        
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        
    }
}